@font-face {
	font-family: "AppleSDGothicNeoL";
	src: url("./Fonts/AppleSDGothicNeoL.ttf") format("truetype");
}

@font-face {
	font-family: "AppleSDGothicNeoM";
	src: url("./Fonts/AppleSDGothicNeoM.ttf") format("truetype");
}

@font-face {
	font-family: "AppleSDGothicNeoB";
	src: url("./Fonts/AppleSDGothicNeoB.ttf") format("truetype");
}

body {
	font-family: "AppleSDGothicNeoL";
	font-size: 1em;
}

table,
td,
tr {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
}

.dimension {
	font-family: "AppleSDGothicNeoM";
	font-weight: bold;
	width: 50px;
	text-align: center;
}

h2,
h3 {
	font-family: "AppleSDGothicNeoB";
	display: inline;
}
