@font-face {
	font-family: "AppleSDGothicNeoL";
	src: url("./Fonts/AppleSDGothicNeoL.ttf") format("truetype");
}

@font-face {
	font-family: "AppleSDGothicNeoM";
	src: url("./Fonts/AppleSDGothicNeoM.ttf") format("truetype");
}

@font-face {
	font-family: "PretendardReg";
	src: url("./Fonts/Pretendard-Regular.otf") format("truetype");
}

body {
	font-family: "AppleSDGothicNeoL";
	font-size: 1em;
	text-align: center;
	align-items: center;
	height: 100%;
	word-break: keep-all;
}

h1,
h2 {
	font-family: "PretendardReg";
	display: inline;
}

a {
	text-decoration: inherit;
	color: inherit;
}

a:hover {
	text-decoration: underline;
	font-weight: bold;
}

footer {
	width: 100%;
	align-items: center;
	position: fixed;
	bottom: 0;
	font-size: smaller;
}

.footer {
	font-weight: bold;
}

table,
td,
tr {
	align-items: center;
	border: 1px solid black;
	border-collapse: collapse;
}

table {
	margin-left: auto;
	margin-right: auto;
}

td {
	width: 110px;
}

.tableIcon {
	height: 75px;
	transition-duration: 100ms;
}

.tableIcon:hover {
	height: 90px;
	margin: 0 0 0 0;
	transition-duration: 100ms;
}

.iconTr {
	height: 110px;
}

.watchaPedia {
	background: #ff0058;
}

.solvedac {
	background: #17ce3a;
}

.gitHub {
	background: black;
}
